<h3>Library Branches</h3>

<div *ngIf="branchService.isLoading" class="spinner-border" role="status">
  <span className="sr-only">Loading...</span>
</div>

<ul class="list-group" *ngIf="!branchService.isLoading">
  <li
    *ngFor="let branch of branchService.branches; let i = index"
    class="list-group-item"
  >
    <button
      class="btn btn-primary"
      type="button"
      [attr.data-toggle]="'collapse'"
      [attr.data-target]="'#branch' + i"
      [attr.aria-expanded]="false"
      [attr.aria-controls]="'branch' + i"
    >
      {{ branch.name }}
    </button>
    <div class="collapse" id="{{ 'branch' + i }}">
      <ul class="list-group">
        <li class="list-group-item">
          {{ branch.address }}
        </li>
        <li class="list-group-item-action">
          <button
            type="button"
            routerLink="/librarian/branches/{{ branch.id }}/book-copies"
          >
            Modify Book Copies
          </button>
        </li>
        <li class="list-group-item-action">
          <button
            type="button"
            routerLink="/librarian/branches/{{ branch.id }}"
          >
            Update Library Details
          </button>
        </li>
      </ul>
    </div>
  </li>
</ul>
