<h1 mat-dialog-title>
  Book Row Action :: <strong>{{ action }}</strong>
</h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input
      placeholder="{{ action }} Title"
      matInput
      [(ngModel)]="localData.title"
    />
    <input
      placeholder="{{ action }} Author"
      matInput
      [(ngModel)]="localData.author"
    />
    <input
      placeholder="{{ action }} Publisher"
      matInput
      [(ngModel)]="localData.publisher"
    />
    <input
      placeholder="{{ action }} Genre"
      matInput
      [(ngModel)]="localData.genre"
    />
  </mat-form-field>
  <ng-template #elseTemplate>
    Sure to delete <b>{{ localData.name }}</b
    >?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{ action }}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">
    Cancel
  </button>
</div>
