<h2>
  Book Loans
</h2>

<table class="table table-dark">
  <thead>
    <tr>
      <th>Date Out</th>
      <th>Due Date</th>
      <th>Date In</th>
      <th>Borrower</th>
      <th>Title</th>
      <th>Branch</th>
      <th></th>
      <th>
        <button
          type="button"
          class="btn btn-primary"
          (click)="open(editLoanModal)"
        >
          Add
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let loan of pagedItems">
      <td>{{ loan.dateOut | date: "shortDate" }}</td>
      <td>{{ loan.dueDate | date: "shortDate" }}</td>
      <td>{{ loan.dateIn | date: "shortDate" }}</td>
      <td>{{ loan.id.borrower.name }}</td>
      <td>{{ loan.id.book.title }}</td>
      <td>{{ loan.id.branch.name }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          (click)="open(editLoanModal, loan)"
        >
          Edit
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="delete(loan.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="items.length > 0" class="ds-l-row ds-u-margin-top--3">
  <div class="ds-l-col--9">
    <ngb-pagination
      [collectionSize]="items.length"
      [(page)]="pager.currentPage"
      [maxSize]="5"
      [pageSize]="itemsPerPage"
      [boundaryLinks]="true"
      (pageChange)="setPage($event)"
    ></ngb-pagination>
  </div>
</div>

<ng-template #editLoanModal let-c="close" let-d="dismiss">
  <div class="ds-c-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ selectedItem ? "Edit" : "Add" }} Loan</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="d()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="submit()">
          <div class="form-group">
            <label for="dateOut" class="col-form-label">Date Out </label>
            <input
              class="form-control"
              name="dateOut"
              id="dateOut"
              type="date"
              [ngModel]="selectedItem.dateOut | date: 'yyyy-MM-dd'"
              (ngModelChange)="selectedItem.dateOut = $event"
              required
            />
            <label for="dueDate" class="col-form-label">Due Date </label>
            <input
              class="form-control"
              name="dueDate"
              id="dueDate"
              type="date"
              [ngModel]="selectedItem.dueDate | date: 'yyyy-MM-dd'"
              (ngModelChange)="selectedItem.dueDate = $event"
              required
            />
            <label for="dateIn" class="col-form-label">Date In </label>
            <input
              class="form-control"
              name="dateIn"
              id="dateIn"
              type="date"
              [ngModel]="selectedItem.dateIn | date: 'yyyy-MM-dd'"
              (ngModelChange)="selectedItem.dateIn = $event"
              required
            />
            <label for="borrower" class="col-form-label">Borrower </label>
            <select name="borrower" [(ngModel)]="selectedItem.id.borrower">
              <option value="" disabled>Choose a borrower</option>
              <option
                *ngFor="let borrower of borrowers"
                [ngValue]="selectedItem.id.borrower"
                >{{ borrower.name }}</option
              ></select
            >
            <label for="bookTitle" class="col-form-label">Title </label>
            <select name="book" [(ngModel)]="selectedItem.id.book">
              <option value="" disabled>Choose a book</option>
              <option
                *ngFor="let book of books"
                [ngValue]="selectedItem.id.book"
                >{{ book.title }}</option
              >
            </select>
            <label for="branchName" class="col-form-label">Branch </label>
            <select name="branch" [(ngModel)]="selectedItem.id.branch">
              <option value="" disabled>Choose a branch</option>
              <option
                *ngFor="let branch of branches"
                [ngValue]="selectedItem.id.branch"
                >{{ branch.name }}</option
              >
            </select>
          </div>
          <input type="submit" class="btn btn-primary" value="Save" />
        </form>
      </div>
    </div>
  </div>
</ng-template>
