h3 { color: white; }

thead th {
  position: sticky;
  top: 78px;
  z-index: 1;
  background: #343A40;
}

.table thead > tr{ border-bottom: solid white; }

#checkoutForm {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #343A40;
}
