<h2>
  Books
</h2>

<table class="table table-dark">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publisher</th>
      <th>Genre</th>
      <th></th>
      <th>
        <button
          type="button"
          class="btn btn-primary"
          (click)="open(editBookModal)"
        >
          Add
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of pagedItems">
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.publisher }}</td>
      <td>{{ book.genre }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          (click)="open(editBookModal, book)"
        >
          Edit
        </button>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteBook(book.id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="books.length > 0" class="ds-l-row ds-u-margin-top--3">
  <div class="ds-l-col--9">
    <ngb-pagination
      [collectionSize]="books.length"
      [(page)]="pager.currentPage"
      [maxSize]="5"
      [pageSize]="itemsPerPage"
      [boundaryLinks]="true"
      (pageChange)="setPage($event)"
    ></ngb-pagination>
  </div>
</div>

<ng-template #editBookModal let-c="close" let-d="dismiss">
  <div class="ds-c-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ selectedBook ? "Edit" : "Add" }} Book</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="d()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submit()">
          <div class="form-group">
            <label for="title" class="col-form-label">Title </label>
            <input
              class="form-control"
              name="title"
              id="title"
              [(ngModel)]="selectedBook.title"
              required
            />
            <label for="author" class="col-form-label">Author </label>
            <input
              class="form-control"
              name="author"
              id="author"
              [(ngModel)]="selectedBook.author"
              required
            />
            <label for="publisher" class="col-form-label">Publisher </label>
            <input
              class="form-control"
              name="publisher"
              id="publisher"
              [(ngModel)]="selectedBook.publisher"
              required
            />
            <label for="genre" class="col-form-label">Genre </label>
            <input
              class="form-control"
              name="genre"
              id="genre"
              [(ngModel)]="selectedBook.genre"
              required
            />
          </div>
          <input type="submit" class="btn btn-primary" value="Save" />
        </form>
      </div>
    </div>
  </div>
</ng-template>
